<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.finalproject">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_namefinal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".selection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This is christina's files -->
        <activity
            android:name=".Garage"
            android:label="@string/title_activity_garage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Weather"
            android:label="@string/title_activity_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HouseTemp"
            android:label="@string/title_activity_house_temp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingOverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- This is Kara's files -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".TemperatureActivity" />
        <activity android:name=".FuelActivity" />
        <activity android:name=".RadioActivity" />
        <activity android:name=".LightsActivity" />
        <activity android:name=".OdometerActivity" />
        <activity android:name=".DriveActivity" />
        <activity android:name=".MainActivity" />

        <!-- This is Michael's's files -->
        <activity
            android:name=".lamp2"
            android:label="@string/title_activity_lamp2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".livingRoom"
            android:label="@string/title_activity_living_room"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- this is Aradhita's files -->
        <activity
            android:name=".microwave"
            android:label="Microwave" />
        <activity
            android:name=".fridge"
            android:label="Fridge" />
        <activity android:name=".mainlight"
            android:label="Main Light"/>
        <activity android:name=".StartActivity"
        android:label="@string/app_name"/>


    </application>

</manifest>